html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font: 13px Helvetica, Arial;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

/* --------------------------------

Joindre une room / Créer une room

-------------------------------- */

#name {
  position: absolute;
  top: 0%;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #8860D0;  /* couleur vert #00887A */
  font-size: 0.875rem;
  letter-spacing: 0.089em;
  text-transform: uppercase;
  font-weight: 500;
  user-select: none;
}

#name p {
  color: white;
}

#connexion {
  background-color: white;
  position: absolute;
  z-index: 5;
}

.form {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  padding: 2%;
}

#rejoindre_room {
  background-color: #5680E9;  /* couleur bleu foncé #4D6D9A, bleu clair #77A6F7*/
  width: 16em;
  margin-top: 6%;
}

#creer_room {
  height: 10em;
  width: 16em;
  background-color: #5680E9;
}

.mdc-card {
  min-width: 200px;
}

.wrapper {
  display: grid;
  width: 45%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(110px, auto);
  grid-template-areas: "a a"
                       "b c";
}

.one {
  grid-area: a;
}

.one p {
  font-size: 0.8em;
  user-select: none;
}

.two {
  grid-area: b;
}

.three {
  grid-area: c;
  margin-bottom: 3%;
}

@media screen and (max-width: 1000px) {
  #creer_room {
    height: 3em;
  }

  .wrapper {
    display: grid;
    width: 45%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(80px, auto);
    grid-template-areas: "a"
                         "b"
                         "c";
  }

  .one {
    grid-area: a;
  }

  .two {
    grid-area: b;
  }

  .three {
    grid-area: c;
    margin-top: 5%;
  }
}

/* --------------------------------

Popup nouvelle Room

-------------------------------- */

.cd-popup {
  position: fixed;
  left: 0;
  padding-top: 350px;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* ---------------------------

              Main

---------------------------- */


::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
}

body {
  flex-direction: column;
  text-align: center;
}

body,header,#messages li, #contentTabs, #sortedMessages li {
    display: flex;
}

.header {
  overflow: hidden;
  background-color: #fafafa;
}

.header a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.header-right {
  float: right;
}

.header-right a{
  display: inline-block;
  padding: 20px;
}

.header-left {
  float: left;
}

.header-left a{
  display: inline-block;
  padding: 20px;
  font-size: 22px;
}

#corps_chat aside .mdc-drawer__content {
  font-size: 1.1em;
  text-transform: uppercase;
}

#corps_chat {
  margin: 0;
  height: 100%;
  padding: 0;
}

#id01 {
  font-size: 1.1em;
  letter-spacing: 0.089em;
  text-transform: uppercase;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  background-color: #8860D0;
}

.mdc-tab{
  background-color: #fafafa;
  border-bottom: solid 1px grey;
}

.mdc-top-app-bar{
  color: black;
  background-color: #fafafa;
}

.mdc-top-app-bar .material-icons{
  color: black;
}

#contentTabs {
  width: 70%; /* Test */
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  height: calc(100% - 200px);
  /*margin-left: -webkit-calc(50% - 335px);
  margin-left: -moz-calc(50% - 335px);
  margin-left: calc(50% - 335px);*/
}

.tabcontent {
  display: none;
}

.tabcontent h1 {
  text-align: center;
  margin-top: 200px;
}

#topvote,#repondu{
  width: 100%;
}
.mdc-top-app-bar__title {
  user-select: none;
  -webkit-user-select: none; /* For Webkit */
  -khtml-user-select: none;
  -moz-user-select: none; /* For Mozilla */
}
#recent{
  width: 100%;
}
#messages, #sortedMessages {
  width: 100%;
}

#messages .mindMsg, #sortedMessages .mindMsg{
  display: inline-block;
  overflow-x: hidden;
  text-align: justify;
  margin-bottom: 2px;
	clear: both;
	padding: 7px 13px;
  max-width: 400px;
	font-size: 12px;
	border-radius: 15px;
	line-height: 1.4;
  float: right;
	background-color: #1998e6;
	color: #fff;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#messages .notMindMsg, #sortedMessages .notMindMsg{
  display: inline-block;
  overflow-x: hidden;
  max-width: 400px;
	margin-bottom: 2px;
	clear: both;
  text-align: justify;
	padding: 7px 13px;
	font-size: 12px;
	border-radius: 15px;
	line-height: 1.4;
  float: left;
	background-color: #ddd;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.chatBar {
  flex: 1;
  bottom: 0;
  position: fixed;
  width: 95%;
  padding-bottom: 1%;
}

.chatBar .mdc-fab {
  position: absolute;
  margin-top: 0.5%;
  margin-left: 0.5%;
}

.chatBar button {
  background-color: #5680E9;
}

.chatBar .inputMsg {
  width: 70%;
}

#messages .mindBtn, #sortedMessages .mindBtn {
  display: inline-block;
  overflow-x: hidden;
  text-align: left;
  margin-bottom: 2px;
	clear: both;
	padding: 7px 13px;
  max-width: 400px;
	font-size: 12px;
	border-radius: 15px;
	line-height: 1.4;
  float: right;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.zoneDeVote{
  background-color: white;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: block;
  border-radius: 25px;
  padding-bottom: -20px;
  color: black;
}

#messages .notMindBtn, #sortedMessages .notMindBtn {
    display: inline-block;
    overflow-x: hidden;
    max-width: 400px;
  	margin-bottom: 2px;
  	clear: both;
    text-align: right;
  	padding: 7px 13px;
  	font-size: 12px;
  	border-radius: 15px;
  	line-height: 1.4;
    float: left;
  	border-bottom-left-radius: 5px;
  	border-top-left-radius: 5px;
  }

  .mindMsg div{
    display: inline-block;
  }

.vote{
  display: inline-block;
  background-color: transparent;
  color: white;
  border: none;
  margin: 0;
}

@media screen and (max-width: 600px)
{
  #contentTabs{
    width: 100%;
  }
  .mdc-tab__text-label{
    display: none;
  }
  .mdc-top-app-bar__title{
    display: none;
  }
  .upvote{
    margin-left: 20px;
  }
}

/*-------------Quizz------------*/

#quizz {
  font-size: 1em;
}

.wrapper-quizz.form {
  display: none;
  position: absolute;
  left: 50%;
  top: 55%;
  padding: 2%;
  transform: translate(-50%, -50%);
}

.wrapper-quizz {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(70px, auto);
  grid-template-areas: "a a"
                       "b bb"
                       "c cc"
                       "d dd"
                       "e ee"
                       "f f";
}

.q1 {
  grid-area: a;
}
.q2 {
  grid-area: b;
}
.q2-bis {
  grid-area: bb;
}
.q3 {
  grid-area: c;
}
.q3-bis {
  grid-area: cc;
}
.q4 {
  grid-area: d;
}
.q4-bis {
  grid-area: dd;
}
.q5 {
  grid-area: e;
}
.q5-bis {
  grid-area: ee;
}
.q6 {
  grid-area: f;
}
