* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}
.chatBar {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 1%;
}

.chatBar button{
  background-color: #64b5f6;
}

.tabcontent{
  display: none;
}

.chatBar .inputMsg {
  width: 50%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
