html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font: 13px Helvetica, Arial;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

/* --------------------------------

Joindre une room / Créer une room

-------------------------------- */

#name {
  position: absolute;
  top: 0%;
  margin-left: 5px;
  margin-top: 5px;
}

#connexion {
  background-color: white;
  position: absolute;
  z-index: 5;
}

.form {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  padding: 2%;
}

.pos-form {
  display: flex;
  align-items: center;
}

.pos-button {
  width: 260px;
  text-align: center;
  padding-top: 5px;
}

.column-join {
  margin-top: 10%;
}

#rejoindre_room {
  background-color: #77A6F7;  /* couleur bleu foncé #4D6D9A*/
  width: 70%;
}

#creer_room {
  height: 11em;
  width: 65%;
  background-color: #77A6F7;
}

@media screen and (max-witdth:800px) {
  #creer_room {
    height: 3em;
    width: 65%;
    background-color: black;
  }
}



/* --------------------------------

Popup nouvelle Room

-------------------------------- */

.cd-popup {
  position: fixed;
  left: 0;
  padding-top: 350px;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* ---------------------------

              Main

---------------------------- */


::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
}

body {
  flex-direction: column;
  text-align: center;
}

body,header,#messages li, .contentTabs {
    display: flex;
}

.header {
  overflow: hidden;
  background-color: #fafafa;
}

.header a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.header-right {
  float: right;
}

.header-right a{
  display: inline-block;
  padding: 20px;
}

.header-left {
  float: left;
}

.header-left a{
  display: inline-block;
  padding: 20px;
  font-size: 22px;
}

.mdc-tab{
  background-color: #fafafa;
  border-bottom: solid 1px grey;
}

.mdc-top-app-bar{
  color: black;
  background-color: #fafafa;
}

.mdc-top-app-bar .material-icons{
  color: black;
}

.contentTabs {
  width: 70%;
  overflow-y: auto;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  /*margin-left: -webkit-calc(50% - 335px);
  margin-left: -moz-calc(50% - 335px);
  margin-left: calc(50% - 335px);*/
}

.tabcontent {
  display: none;
}

.tabcontent h1 {
  text-align: center;
  margin-top: 200px;
}
#topvote,#repondu{
    width: 100%;
}

.mdc-top-app-bar__title {
  user-select: none;
  -webkit-user-select: none; /* For Webkit */
  -khtml-user-select: none;
  -moz-user-select: none; /* For Mozilla */
}
#recent{
  width: 100%;
}
#messages {
  padding-top: 150px;
  width: 100%;
}

#messages .mindMsg {
  display: inline-block;
  overflow-x: hidden;
  text-align: left;
  margin-bottom: 2px;
	clear: both;
	padding: 7px 13px;
  max-width: 400px;
	font-size: 12px;
	border-radius: 15px;
	line-height: 1.4;
  float: right;
	background-color: #1998e6;
	color: #fff;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#messages .notMindMsg{
  display: inline-block;
  overflow-x: hidden;
  max-width: 400px;
	margin-bottom: 2px;
	clear: both;
  text-align: right;
	padding: 7px 13px;
	font-size: 12px;
	border-radius: 15px;
	line-height: 1.4;
  float: left;
	background-color: #ddd;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.chatBar {
  flex: 1;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding-bottom: 1%;
}

.chatBar button {
  background-color: #64b5f6;
}

.chatBar .inputMsg {
  width: 70%;
}

#messages .mindBtn {
  display: inline-block;
  overflow-x: hidden;
  text-align: left;
  margin-bottom: 2px;
	clear: both;
	padding: 7px 13px;
  max-width: 400px;
	font-size: 12px;
	border-radius: 15px;
	line-height: 1.4;
  float: right;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#messages .notMindBtn {
    display: inline-block;
    overflow-x: hidden;
    max-width: 400px;
  	margin-bottom: 2px;
  	clear: both;
    text-align: right;
  	padding: 7px 13px;
  	font-size: 12px;
  	border-radius: 15px;
  	line-height: 1.4;
    float: left;
  	border-bottom-left-radius: 5px;
  	border-top-left-radius: 5px;
  }

  .mindMsg div{
    display: inline-block;
  }

.vote{
  display: inline-block;
  background-color: transparent;
  color: white;
  border: none;
  margin: 0;
}


@media screen and (max-width: 600px)
{
  .contentTabs{
    width: 100%;
  }
  .mdc-tab__text-label{
    display: none;
  }
  .mdc-top-app-bar__title{
    display: none;
  }
  .upvote{
    margin-left: 20px;
  }
}
