<!doctype html>
<html>

<head>
  <title>Interactive Conference</title>
  <!-- Librairi Material Theming -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <script defer src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <!-- Notre CSS -->
  <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css" />
</head>

<body>
  <section id="connexion">
    <div id="name">
        <button class="mdc-button mdc-button--raised">Interactive Conference</button>
    </div>

    <div class="mdc-card form">
      <div >
        <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
          <input type="text" id="r_room" class="mdc-text-field__input">
          <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
              <label for="tf-outlined" class="mdc-floating-label">Numéro du salon</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
          </div>
        </div>
        <button class="buttonSend mdc-fab mdc-fab--mini" id="rejoindre_room">
          <span class="mdc-fab__icon material-icons">send</span>
        </button>
      </div>
      <div class="pos-button">
        <button type="button" class="mdc-button cd-popup-trigger color" id="creer_room">Nouveau salon</button>
      </div>
    </div>
  </section>

  <!-- socket.io -->
  <script src="socket.io/socket.io.js"></script>
  <!-- Jquery Integration-->
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <!-- Script JS coté client-->
  <script src="controllers/controllerIndex.js"></script>

</body>

</html>
